@font-face {
  font-family: deyihei;
  src: url('/fonts/SmileySans-Oblique.ttf')
}

@font-face {
  font-family: tencentf;
  src: url('/fonts/TTTGB-Medium.ttf')
}

@font-face {
  font-family: dongqingheiw6;
  src: url('/fonts/Hiragino Sans GB W6.ttf')
}

@font-face {
  font-family: dongqingheiw3;
  src: url('/fonts/Hiragino Sans GB W3.ttf')
}


/* #text {
  font-size: 200%;
  font-family: dongqingheiw3;

  resize: none;
  position: fixed;
  border: none;
  outline: none;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 95%;

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
} */

body {
  margin: 0;
  overflow: hidden;
}

.code-editor-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}


.code-editor {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 10px;
  margin: 0;
  font-family: dongqingheiw6;
  font-size: 1.5rem;
  border: none;
  outline: none;
  line-break: anywhere;
  white-space: pre-wrap;
  color: white;

}

.code-editor-background {
  resize: none;
  background-color: rgb(44, 44, 44);
  caret-color: white;
  /* color: transparent; */
}

.code-editor-background::selection {
  color: transparent;
  background: #239123;
}

.code-editor-foreground {
  pointer-events: none;
  left: 0px;
  top: 0px
}